@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 20px;
}
.todo-list {
  /* width: 400px; */
  justify-content: center;
}
.todo-item {
  display: flex;
  border: 2px solid white;
  flex-direction: row;
}
.todo-delete{
  color: white;
  font-size: 16px;
}
.todo-delete:hover{
  color: red;
  font-size: 16px;
}
.todo-text {
  flex: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the header */
header {
  background: linear-gradient(90deg, rgba(186, 246, 175, 0.904)0%,
                                     rgb(248, 220, 120) 50%, 
                                     rgb(106, 255, 253) 100%);
  padding: 30px 40px;
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Acme', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 15px;;
}

input {
  width: 75%;
  margin-right: 0;
  padding: 10px;
  border: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addBtn {
  width: 15%;
  padding: 10px 0px;
  margin-left:0;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.addBtn:hover {
  background-color: #bbb;
  color: #FFF;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 14px;
  transition: 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;


  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #b2bec3;
}

/* Darker background-color on hover */
ul li:hover {
  background: #eabcbc;
}

/* When clicked on, add a background color and strike out text */
.checked {
  background: #0cbd44 !important;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the trash button */
.far {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.far:hover {
  background-color: tomato;
  color: white;
}